.form-container {
    width: 40%;
    margin: 200px auto;
    font-family: 'Inter', sans-serif;

    .confirmar-form{
        font-weight: 300;
        font-size: 1.2rem;

        .container-info-confirmar{
            margin: 10px 0;
            span{
                font-weight: 500;
                font-size: 1rem;
            }
            div{
                color: rgb(90, 90, 90);
            }
        }
    }

    .formulario {
        width: 100%;
        height: 80%;
        padding: 40px;
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #fff;
        justify-content: space-between;

        .container-nome-preco {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .campo-input {
                width: 48%;

                input {
                    width: 100%;
                    height: 40px;
                }

            }
        }

        select {
            padding: 15px 0;
            color: #FFA114;
            outline: none;
            border: none;
        }

        .campo-input {
            display: flex;
            position: relative;
            border-radius: 5px;
            margin-bottom: 30px;
            flex-direction: column;
            border: 2px solid #FFA114;

            input {
                width: 100%;
                border: none;
                padding: 5px;
                outline: none;
                font-size: 1.2rem;
                box-sizing: border-box;
            }

            span {
                top: -15px;
                left: 20px;
                color: #FFA114;
                padding: 0px 10px;
                position: absolute;
                text-align: center;
                background-color: #fff;
            }

            textarea {
                border: none;
                padding: 10px;
                outline: none;
                height: 170px;
                font-size: 1.2rem;
                box-sizing: border-box;
            }

            .file-input {
                opacity: 0;
                width: 100%;
                height: 200px;
                cursor: pointer;

            }

            .container-input-file {
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                align-items: center;
                pointer-events: none;
                flex-direction: column;
                justify-content: center;

                .cloud-input-file {
                    font-size: 7rem;
                    font-weight: 100;
                    position: static;
                    background-color: transparent;
                }
            }

        }

        .buttom {
            color: #fff;
            cursor: pointer;
            padding: 10px 0;
            font-weight: 300;
            font-size: 1.2rem;
            text-align: center;
            border-radius: 5px;
            background-color: #FFA114;
        }
    }
}