.container-editar {
    width: 60%;
    display: flex;
    margin: 200px auto;
    justify-content: center;
    font-family: 'Inter', sans-serif;


    .container-card-editar {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card-editar {
            width: 240px;
            color: #fff;
            display: flex;
            height: 490px;
            margin-top: 20px;
            font-size: 1.3rem;
            position: relative;
            border-radius: 5px;
            align-items: center;
            flex-direction: column;
            background-color: #0C0C0C;
            justify-content: space-between;

            .editar-editar {
                top: 10px;
                right: 10px;
                padding: 4px;
                cursor: pointer;
                position: absolute;
                border-radius: 100px;
                box-sizing: border-box;
                background-color: rgb(228, 228, 228);

                span {
                    color: black;
                    font-weight: 900;
                    font-size: 1.7rem;
                }
            }

            .botao-saiba-mais-editar {
                opacity: 0;
                height: 40px;
                width: 140px;
                display: flex;
                cursor: pointer;
                font-weight: 300;
                font-size: 1.1rem;
                border-radius: 5px;
                margin-bottom: 20px;
                align-items: center;
                pointer-events: none;
                justify-content: center;
                background-color: #ffd103;
            }

            .board-line-editar {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .nome-book-editar {
                    width: 79%;
                    font-weight: 300;
                    overflow: hidden;
                    font-size: 1.2rem;
                    text-align: center;
                    position: relative;
                    letter-spacing: 2px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                }

                .line-name-editar {
                    width: 16px;
                    height: 3px;
                    background-color: #464646;
                }
            }

            .preco-editar {
                font-size: 1.1rem;
            }

            img {
                pointer-events: none;
                width: 100%;
                height: 300px;
            }
        }
    }
}