@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.header-container {
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #FFA114;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    border-bottom: rgba(15, 15, 15, 0.151) solid 1px;

    .menu-nav-bar {
        top: 0;
        width: 15%;
        height: 100vh;
        right: -1200px;
        position: fixed;
        transition: .5s ease-in-out;
        background-color: #f2f2f2;
        filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.514));

        .container-nav-bar-content {
            display: flex;
            height: 200px;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            a {
                color: #0C0C0C;
                cursor: pointer;
                transition: .3s ease-in-out;
            }

            a:hover {
                color: rgb(0, 89, 255);
            }
        }

    }


    .logo-conteiner {
        margin-left: 40px;

        .logo {
            width: 120px;
            cursor: pointer;
            transform: rotate(-20deg);

            p {
                font-weight: 900;
                color: #0C0C0C;
                font-size: 1.8rem;
                letter-spacing: -1px;
            }

            .line {
                width: 116px;
                height: 5px;
                background: #0C0C0C;
            }

            .down-line {
                margin-left: 20px;
            }
        }
    }


    .page-title {
        width: 70%;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }


    .container-icons {
        width: 150px;
        display: flex;
        background-color: gree;
        justify-content: space-between;

        .glass {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 100px;
            box-sizing: border-box;
            justify-content: center;
            background-color: #fff;

            span {
                width: 40px;
                display: flex;
                font-size: 2rem;
                font-weight: 900;
                align-items: center;
                justify-content: center;
                color: rgb(63, 63, 63);
            }
        }

        .icon-header {
            font-size: 3rem;
            cursor: pointer;
            font-weight: 900;
        }
    }

    .arrow-back {
        top: 150%;
        left: 30px;
        cursor: pointer;
        position: absolute;

        span {
            font-size: 3rem;
            font-weight: 800;
        }
    }
}